/* Formatting for Splide's pagination / 'dots' */

.splide__pagination__page {
  background: none;
  /* setting background:none is necessary to overwrite the default */

  margin: 6px;
  margin-bottom: 20px;
  width: 15px;
  height: 15px;

  border-style: solid;
  border-width: 2px;
  border-color: #f2f3fc;
}

.splide__pagination__page.is-active {
  background: #f2f3fc;
  transform: scale(1);
  /* setting transform: scale(1) is necessary to overwrite the default */
}
